/*===============================
*   Style du tchat de map       *
*==============================*/
#vlux_tchat{
  height: 450px;
}

#vlux_tchat_output{
  height: 400px;
  float: left;
  border-right: 2px solid black;
  width: 675px;
  background-color: rgba(255,255,255,1);
}

#vlux_tchat_output li{
  overflow-x: hidden;
  height: 400px;
  width: 681px;
  display: none;
}

#vlux_tchat ul, #vlux_tchat_output ul{
  list-style: none;
  margin-block-start : 0;
  margin-block-end : 0;
  -moz-padding-start : 0;
}

#vlux_tchat ul , #vlux_tchat li{
  display: inline-block;
  margin : 0;
}

.chan_actif{
  background-color: rgba(230,230,230,1) !important;
}

#list_chan li{
  min-width: 100px;
  height: 20px;
  padding:0 5px;
  background-color: rgba(241,241,241,.5);
  border-top-right-radius : 10px;
}

.vlux_menu_tchat {
  position: absolute;
  left: 10px;
  bottom: -3px;
  height: 25px;
}

#input_tchat{
  background-color: black;
}

#input_tchat input{
  width : 450px;
}

#list_connectes{
  width: 99px;
  float: right;
}

#list_connectes li{
  display : list-item;
}

/*===============================
* Style de message flash    *
*===============================*/

.toast-container {
  min-width: 280px;
  z-index: 9999;
}


* html .toast-container {
  position: relative;
}

.toast-item {
  height: auto;
  background: #333;
    opacity: 0.9;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #eee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 6px;
  padding-right: 6px;
  font-family: lucida Grande;
  font-size: 14px;
  border: 2px solid #999;
  display: block;
  position: relative;
  margin: 0 0 12px 0;
}

.toast-item p {
    text-align: left;
    margin-left: 50px;
}

.toast-item-close {
    background:url(../images/map/interface/close.gif);
    width:22px;
    height:22px;
    position: absolute;
    top:7px;
    right:7px;
}

.toast-item-image {
    width:32px;
    height: 32px;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 10px;
}

.toast-item-image-notice {
    background:url(../images/map/interface/notice.png);
}

.toast-item-image-success {
    background:url(../images/map/interface/success.png);
}

.toast-item-image-warning {
    background:url(../images/map/interface/warning.png);
}

.toast-item-image-error {
    background:url(../images/map/interface/error.png);
}


/**
 * toast types
 *
 * pattern: toast-type-[value]
 * where 'value' is the real value of the plugin option 'type'
 *
 */
.toast-type-notice {
    color: white;
}

.toast-type-success {
    color: white;
}

.toast-type-warning {
    color: white;
    border-color: #FCBD57;
}

.toast-type-error {
    color: white;
    border-color: #B32B2B;
}

/**
 * positions
 *
 * pattern: toast-position-[value]
 * where 'value' is the real value of the plugin option 'position'
 *
 */
.toast-position-top-left {
    position: fixed;
    left: 20px;
    top: 20px;
}

.toast-position-top-center {
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -140px;
}

.toast-position-top-right {
    position: fixed;
    top: 20px;
    right: 20px;
}

.toast-position-middle-left {
    position: fixed;
    left: 20px;
    top: 50%;
    margin-top: -40px;
}

.toast-position-middle-center {
    position: fixed;
    left: 50%;
    margin-left: -140px;
    margin-top: -40px;
    top: 50%;
}

.toast-position-middle-right {
    position: fixed;
    right: 20px;
    margin-left: -140px;
    margin-top: -40px;
    top: 50%;
}