/* Feuilles de style additionelle pour les éléments de Vlux 3d */

#map-index {
  clear: both;
}

#total {
    position: relative;
	 overflow:hidden;
    width: 780px;
    border: 2px #000 solid;
    border-radius: 8px;
    background: linear-gradient( #1f1f1f 0%, #000000 50%, #1f1f1f 100%);
    box-shadow: 3px 3px 8px 0px #656565;
    margin-top: 5px;
    z-index: 50;
}
.lumiere {
    background: url(../images/map/interface/lumiere.png) no-repeat;
    background-size: 780px 300px;
    background-position: top left;
    position: relative;
    float: left;
}

#carte {
	overflow:hidden;
    width: 756px;
    height: 550px;
    border: 2px #000 inset;
    margin: 10px 10px 30px 10px;
    display: block;
    border-radius: 5px;
}

/*=================================*
*           Interface              *
*==================================*/

#vlux_interface{
  z-index: 880000;
}

#vlux_interface ul{
  list-style: none;
  margin-bottom: 5px;
}

.vlux_display_off{
  display: none;
}

.vlux_display_on{
  display: initial;
  overflow: hidden;
  height: 50px;
  width: 754px;
}

.vlux_menu {
  position: absolute;
  right: 20px;
  bottom: -3px;
  height: 25px;
}

.vlux_menu li, .menu_type li{
  display: inline-block;
  background-color: #fff;
  vertical-align: top;
  border-radius: 5px;
}
.vlux_menu li:active, .menu_type li button:active {
  margin-top: 1px;
}

.vlux_menu li button, .vlux_menu li a, .menu_type li button { 
  background: transparent url(../images/skins_formulaire/submit_bleu.png); 
  text-align: center;
  outline:none;
  height: 24px; 
  padding: 0 20px 0 20px; 
  color: #fff; 
  background-color: #f86161; 
  background-size: 100% 100%; 
  cursor:pointer; 
  border-radius: 5px; 
  border: 2px groove #ffffff; 
  box-shadow: 1px 1px 1px 0px #000000; 
  opacity: 1; 
  transition-property: all; 
  transition-duration: 0.1s;
  font-size: 14px;
  margin: 0px
}

.vlux_menu li a { 
  background: transparent url(../images/skins_formulaire/submit_rouge.png);
  background-size: 100% 100%;
  display: block;
  height: 20px;
}

.menu_type li button { 
  background: transparent url(../images/skins_formulaire/submit_violet.png);
  background-size: 100% 100%;
}

.vlux_menu li button:hover, .vlux_menu li a:hover, .menu_type li button:hover { 
  opacity: 0.8;
}

.hidden{
  visibility : hidden;
}
/* Sous menu */

.pp3diso_users {
  position:absolute;
  bottom: 0px;
}

#vlux_sub_menu{
  height: 38px;
  width: 754px;
}

#vlux_sub_menu .deco{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 3px 3px;
  border-top: 2px solid #e9faf3;
  border-left: 1px solid #e9faf3;
  border-right: 1px solid #2f3d38;
  border-bottom: 1px solid #2f3d38;
  background: #b0ead2;
  box-shadow: -1px 0px 3px #656565;
  z-index: 5;
}


#vlux_sub_menu li{
  display: inline;
}

.menu_type {
  position: absolute;
  padding: 2px;
  top: -10px;
  right: 4px;
  background-color: #d4f4e7;
  width: 665px;
  height: 26px;
  border-radius: 5px;
  border-top: 1px solid #636865;
  border-left: 1px solid #636865;
  border-right: 1px solid #f2fcf8;
  border-bottom: 1px solid #f2fcf8;
  z-index: 25;
}

#display_item{
  position: relative;
  height: 62px;
  width: 755px;
  margin-top: -60px;
  background-color: rgba(255,255,255,0.5);
  box-shadow: -2px 0px 3px #656565;
}

#display_item  img{
 height: 50px;
}

.cat {

}

.animated {  
transition: all 0.7s ease-out;  
} 



.vlux_slider{
  position: relative;
  width: 5000px;
  height: 50px;
}

.vlux_slider ul {
  margin-top: 0px;
  padding: 2px;
}

.vlux_slider li {
  display: inline;
}
.vlux_slider li a {
  display: inline-block;
}

.saut a {
  position: relative;
  top: 2px;
  text-align: center;
  height: 70px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.saut a:before {
  content: ' ';
  position: absolute;
  bottom: 22px;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.saut a:hover,
.saut a:focus {
  top: -15px;
  height: 70px;
}
.saut a:hover:before,
.saut a:focus:before {
  bottom: 9px;
  left: 10%;
  width: 80%;
  height: 15px;
  background:  rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 9px rgba(0,0,0,0.2),0 0 9px  rgba(0,0,0,0.2),0 0 9px  rgba(0,0,0,0.2),0 0 9px  rgba(0,0,0,0.2),0 0 9px  rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 9px rgba(0,0,0,0.2),0 0 9px  rgba(0,0,0,0.2),0 0 9px  rgba(0,0,0,0.2),0 0 9px  rgba(0,0,0,0.2),0 0 9px  rgba(0,0,0,0.2);
  -ms-box-shadow: 0 0 9px rgba(0,0,0,0.2),0 0 9px  rgba(0,0,0,0.2),0 0 9px  rgba(0,0,0,0.2),0 0 9px  rgba(0,0,0,0.2),0 0 9px  rgba(0,0,0,0.2);
  -o-box-shadow: 0 0 9px rgba(0,0,0,0.2),0 0 9px  rgba(0,0,0,0.2),0 0 9px  rgba(0,0,0,0.2),0 0 9px  rgba(0,0,0,0.2),0 0 9px  rgba(0,0,0,0.2);
  box-shadow: 0 0 9px rgba(0,0,0,0.2),0 0 9px  rgba(0,0,0,0.2),0 0 9px  rgba(0,0,0,0.2),0 0 9px  rgba(0,0,0,0.2),0 0 9px  rgba(0,0,0,0.2);
}

.saut a img:active{
background: rgba(136,255,0,0.7);
background: -moz-radial-gradient(center, ellipse cover, rgba(136,255,0,0.7) 34%, rgba(136,255,0,0.42) 53%, rgba(207,255,153,0.06) 77%, rgba(255,255,255,0.06) 93%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(34%, rgba(136,255,0,0.7)), color-stop(53%, rgba(136,255,0,0.42)), color-stop(77%, rgba(207,255,153,0.06)), color-stop(93%, rgba(255,255,255,0.06)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(136,255,0,0.7) 34%, rgba(136,255,0,0.42) 53%, rgba(207,255,153,0.06) 77%, rgba(255,255,255,0.06) 93%);
background: -o-radial-gradient(center, ellipse cover, rgba(136,255,0,0.7) 34%, rgba(136,255,0,0.42) 53%, rgba(207,255,153,0.06) 77%, rgba(255,255,255,0.06) 93%);
background: -ms-radial-gradient(center, ellipse cover, rgba(136,255,0,0.7) 34%, rgba(136,255,0,0.42) 53%, rgba(207,255,153,0.06) 77%, rgba(255,255,255,0.06) 93%);
background: radial-gradient(ellipse at center, rgba(136,255,0,0.7) 34%, rgba(136,255,0,0.42) 53%, rgba(207,255,153,0.06) 77%, rgba(255,255,255,0.06) 93%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88ff00', endColorstr='#ffffff', GradientType=1 );
}

.prec{
  display: none;
  cursor:pointer;
  position:absolute;
  top: 3px;
  left: 0;
  height: 50px;
  width: 30px;
  background: url(../images/design/fleche_gauche.png), url(../images/skins_formulaire/submit_violet.png);
  background-repeat: no-repeat;
  background-size: 20px 20px, 100% 100%;
  background-position: 5px 15px, 0 0;
  border: 2px ridge #fff;
  border-radius: 0 50% 50% 0;
  z-index: 4000;
  box-shadow: 1px 1px 3px #656565;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.prec:hover{
  background-position: 2px 15px, 0 0;
  opacity: 1;
}
.prec:active{
  opacity: 0;
}

.suiv{
  cursor: pointer;
  display: block;
  position:absolute;
  top: 3px;
  right: 0px;
  height: 50px;
  width: 30px;
  background: url(../images/design/fleche_droite.png), url(../images/skins_formulaire/submit_violet.png);
  background-repeat: no-repeat;
  background-size: 20px 20px, 100% 100%;
  background-position: 5px 15px, 0 0;
  border: 2px ridge #fff;
  border-radius: 50% 0 0 50%;
  z-index: 4000;
  box-shadow: 1px 1px 3px #656565;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.suiv:hover{
  background-position: 8px 15px, 0 0;
  opacity: 1;
}
.suiv:active{
  opacity: 0;
}

/* Les boutons de zomm */

#vlux_zoom{
  height: 62px;
  margin-left: -20px;
}

#loupe-plus {
  height: 32px;
  width: 61px;
}

#loupe-plus a {
  display: block;
  float: left;
  width: 60px;
  height: 30px;
  background: url(../images/map/interface/zoom.png) no-repeat;
  background-position: 0 0;
  border-radius: 50% / 100% 100% 0 0;
  box-shadow: 1px 1px 3px #656565;
  margin-top: 0px;
  transition: none;
}
#loupe-plus a:hover {
  background-position: -60px 0;
}
#loupe-plus a:active {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #656565;
}

#loupe-moins {
  height: 32px;
}

#loupe-moins a {
  display: block;
  width: 60px;
  height: 30px;
  background: url(../images/map/interface/zoom.png) no-repeat;
  background-position: 0 -31px;
  border-radius: 50% / 0 0 100% 100%;
  box-shadow: 1px 1px 2px #656565;
  margin-top: 0px;
  transition: none;
}
#loupe-moins a:hover {
  background-position: -60px -31px;
}
#loupe-moins a:active {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #656565;
}

/*===============================
*   Style du tchat de map       *
*==============================*/
#vlux_tchat{
  width : 756px;
  height: 100px;
}

#vlux_tchat_output{
  height: 80px;
  background-color: rgba(255,255,255,1);
}

#vlux_tchat_output ul li{
  overflow-x: hidden;
  height: 80px;
  width: 681px;
  display: none;
}

#vlux_tchat ul, #vlux_tchat_output ul{
  list-style: none;
  margin-block-start : 0;
  margin-block-end : 0;
  -moz-padding-start : 0;
}

#vlux_tchat ul , #vlux_tchat li{
  display: inline-block;
  margin : 0;
}

.chan_actif{
  background-color: white !important;
}

#list_chan li{
  min-width: 100px;
  height: 20px;
  padding:0 5px;
  background-color: rgba(255,255,255,.5);
  border-top-right-radius : 10px;
}

.vlux_menu_tchat {
  position: absolute;
  left: 0;
}

#input_tchat{
  background-color: black;
}

#input_tchat input{
  width : 350px;
}

#nom_map{
  position : absolute;
  right : 0px;
}

.bulle-tchat{
  position : absolute;
  min-height: 15px;
  min-width: 30px;
  text-align: center;
  font-size: 10px;
  background-color: white;
  z-index: 350000;
  background: #333;
  opacity: 0.9;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #eee;
  padding: 3px;
  font-family: lucida Grande;
  border: 2px solid #999; 
}

/*-------- Fin Tchat ------------*/

.bulle_player_pseudo{
  position : absolute;
  min-height: 15px;
  min-width: 30px;
  text-align: center;
  font-size: 10px;
  background-color: white;
  z-index: 350000;
  background: #333;
  opacity: 0.9;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #eee;
  padding: 3px;
  font-family: lucida Grande;
  border: 2px solid #999; 
}

/*===============================
*	Style de message flash		*
*===============================*/

.toast-container {
	min-width: 280px;
	z-index: 9999;
}


* html .toast-container {
	position: relative;
}

.toast-item {
	height: auto;
	background: #333;
    opacity: 0.9;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color: #eee;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 6px;
	padding-right: 6px;
	font-family: lucida Grande;
	font-size: 14px;
	border: 2px solid #999;
	display: block;
	position: relative;
	margin: 0 0 12px 0;
}

.toast-item p {
    text-align: left;
    margin-left: 50px;
}

.toast-item-close {
    background:url(../images/map/interface/close.gif);
    width:22px;
    height:22px;
    position: absolute;
    top:7px;
    right:7px;
}

.toast-item-image {
    width:32px;
    height: 32px;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 10px;
}

.toast-item-image-notice {
    background:url(../images/map/interface/notice.png);
}

.toast-item-image-success {
    background:url(../images/map/interface/success.png);
}

.toast-item-image-warning {
    background:url(../images/map/interface/warning.png);
}

.toast-item-image-error {
    background:url(../images/map/interface/error.png);
}


/**
 * toast types
 *
 * pattern: toast-type-[value]
 * where 'value' is the real value of the plugin option 'type'
 *
 */
.toast-type-notice {
    color: white;
}

.toast-type-success {
    color: white;
}

.toast-type-warning {
    color: white;
    border-color: #FCBD57;
}

.toast-type-error {
    color: white;
    border-color: #B32B2B;
}

/**
 * positions
 *
 * pattern: toast-position-[value]
 * where 'value' is the real value of the plugin option 'position'
 *
 */
.toast-position-top-left {
    position: fixed;
    left: 20px;
    top: 20px;
}

.toast-position-top-center {
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -140px;
}

.toast-position-top-right {
    position: fixed;
    top: 20px;
    right: 20px;
}

.toast-position-middle-left {
    position: fixed;
    left: 20px;
    top: 50%;
    margin-top: -40px;
}

.toast-position-middle-center {
    position: fixed;
    left: 50%;
    margin-left: -140px;
    margin-top: -40px;
    top: 50%;
}

.toast-position-middle-right {
    position: fixed;
    right: 20px;
    margin-left: -140px;
    margin-top: -40px;
    top: 50%;
}